{% extends 'accounts/main.html' %}
<!-- Display the contents of Product -->
{% block content %}
    <br>
    <div class="row p-2">
        <div class="col-md">
            <div class="card card-header">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
<!-- End of Product Contents -->